@font-face {
  font-family: IBMPlexMono-Medium;
  src: url('https://www.igloo.inc/assets/IBMPlexMono-Medium-897c8c30.woff2')
      format('woff2'),
    url('https://www.igloo.inc/assets/IBMPlexMono-Medium-1e253194.woff')
      format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: IBMPlexMono-Regular;
  src: url('https://www.igloo.inc/assets/IBMPlexMono-Regular-d3034935.woff2')
      format('woff2'),
    url('https://www.igloo.inc/assets/IBMPlexMono-Regular-419d45f6.woff')
      format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --default-font: 'IBMPlexMono-Regular', sans-serif;
  --bgColor: #a0a5b1;
}

* {
  box-sizing: border-box;
}

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--bgColor);
  touch-action: none;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: var(--default-font);
}

#root {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body .tp-dfwv {
  max-height: calc(100vh - 16px);
}

body .tp-dfwv::-webkit-scrollbar {
  width: 5px;
}

body .tp-dfwv::-webkit-scrollbar-track {
  background-color: #4c4f53;
}

body .tp-dfwv::-webkit-scrollbar-thumb {
  background-color: #777c81;
}

.click {
  cursor: pointer;
}
